.example {
  background-color: #eaeaea;
  padding: 17px 0 36px;

  @media (min-width: $tablet-width) {
    border-top: 1px solid #d9d9d9;
    padding: 43px 0 68px;
    background-color: #ffffff;
  }
}

.example__wrapper {
  // min-width: 320px;
  margin: 0 auto;
  padding: 0 20px;

  @media (min-width: $tablet-width) {
    padding: 0 30px;
  }
}

.example__title {
  margin: 0 0 23px;
  font-weight: 400;
  font-size: 36px;
  line-height: 40px;
  color: #000000;

  @media (min-width: $tablet-width) {
    font-size: 60px;
    line-height: 60px;
    margin-bottom: 64px;
  }
}

.example__text {
  margin: 0 0 25px;
  padding-right: 10px;
  font-family: "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  color: #444444;

  @media (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 53px;
  }
}

.example__list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 0 auto 34px;
  align-items: center;
}

.example__list--wrapper {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

  @media (min-width: $tablet-width) {
    margin: 0 0 5px;
    width: 366px;
  }
}

.example__stat {
  width: 124px;
  text-align: center;
  padding: 13px 18px 15px;
  border: 1px solid #cdcdcd;
  border-radius: 3px;
}

.example__stat-value {
  margin: 0;
  font-weight: 400;
  font-size: 24px;
  line-height: 24px;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
}

.example__stat-item {
  font-family: "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 12px;
  margin: 0 auto;
  padding: 0 10px;
  color: #444444;
}

.example__caption {
  margin: 0;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  color: #000000;

  @media (min-width: $tablet-width) {
    width: 200px;
    font-size: 20px;
    line-height: 20px;
    text-align: right;
    margin-bottom: 7px;
    text-transform: uppercase;
  }
}

.example__slider-control {
  display: flex;
  justify-content: center;
  align-items: center;
}

.example__slider-button {
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: #000000;
}
