.form-feedback {
  @media (min-width: $tablet-width) {
    padding-bottom: 72px;
  }

  @media (min-width: $desktop-width) {
    padding-bottom: 80px;
  }
}

.form-feedback__wrapper {
  margin: 0 auto;
  padding: 0 20px;
  max-width: 1300px;

  @media (min-width: $tablet-width) {
    padding: 30px 67px 0 71px;
  }
}

.form-feedback__control {
  @media (min-width: $tablet-width) {
    padding-left: 40px;
    padding-right: 37px;
  }

  @media (min-width: $desktop-width) {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding: 0;
  }
}

.form-feedback__fieldset {
  border: none;
  margin: 0 0 0 -20px;
  padding: 20px 20px 9px;
  width: 100%;
}

.form-feedback__parameters {
  @media (min-width: $desktop-width) {
    width: 570px;
  }
}

.form-feedback__list {
  margin: 0;
  padding: 0;

  @media (min-width: $tablet-width) {
    padding-right: 0;
    margin: 0 0 47px;
  }
}

.form-feedback__list--owner {
  @media (min-width: $tablet-width) {
    margin-left: 20px;
    margin-bottom: 52px;
  }

  @media (min-width: $desktop-width) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 55px;
  }
}

.form-feedback__list-extra {
  margin: 2px 0 0 -20px;
  padding: 0 20px 15px;

  @media (min-width: $tablet-width) {
    padding-right: 0;
    padding-top: 5px;
    padding-bottom: 23px;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
  }

  @media (min-width: $desktop-width) {
    padding-top: 0;
    padding-bottom: 35px;
    margin-top: -7px;
  }
}

.form-feedback__list-program {
  margin: 0 0 0 -20px;
  padding: 22px 20px 0;
  border-bottom: 1px solid #d9d9d9;
  border-top: 1px solid #d9d9d9;
  width: 100%;

  @media (min-width: $tablet-width) {
    padding: 27px 0 10px 25px;
    border: 1px solid #d9d9d9;
    margin: 0 0 52px;
  }

  @media (min-width: $desktop-width)  {
    width: auto;
  }
}

.form-feedback__list-item {
  list-style: none;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin: 0 0 14px;
  position: relative;

  @media (min-width: $tablet-width) {
    margin-bottom: 20px;
  }
}

.form-feedback__list-item--owner {
  margin-top: 8px;

  &:last-child {
    margin-bottom: 2px;
  }

  @media (min-width: $desktop-width) {
    width: 570px;
    margin-bottom: 8px;
  }
}

.form-feedback__list-item-extra {
  list-style: none;
  display: flex;
  justify-content: flex-start;
  align-items: center;

  @media (min-width: $tablet-width) {
    margin-bottom: 20px;
    width: 285px;
    margin-right: 60px;

    &:nth-child(2n) {
      margin-right: 0;
    }
  }

  @media (min-width: $desktop-width) {
    margin-right: 38px;

    &:nth-child(2n) {
      margin-right: 38px;
    }

    &:nth-child(4n) {
      margin-right: 0;
      width: 240px;
    }
  }
}

.form-feedback__contact {
  padding-bottom: 0;

  @media (min-width: $tablet-width) {
    margin-left: -40px;
    width: calc(100% - 60px);
    padding-left: 60px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 10px;
    padding-left: 20px;
    padding-right: 0;
    width: calc(100% + 20px);
  }
}

.form-feedback__message {
  padding-bottom: 2px;
  padding-top: 0;

  @media (min-width: $tablet-width) {
    margin-left: -40px;
    width: calc(100% - 60px);
    padding-left: 60px;
    padding-top: 0;
    padding-bottom: 0;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 60px;
    padding-left: 20px;
    width: auto;
  }
}

.form-feedback__add {
  @media (min-width: $tablet-width) {
    padding-top: 0;
    padding-bottom: 0;
    margin-left: -40px;
    width: calc(100% - 40px);
    padding-left: 60px;
  }

  @media (min-width: $desktop-width) {
    padding-left: 20px;
    width: calc(100% + 40px);
  }
}

.form-feedback__label {
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  font-weight: 400;
  color: #444444;
  margin: 0 13px 2px -1px;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 30px;
    margin-right: 15px;
  }
}

.form-feedback__label-radio {
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  font-weight: 400;
  color: #444444;
  margin: 0 14px 0 1px;

  &::before {
    content: "";
    display: inline-block;
    vertical-align: middle;
    width: 12px;
    height: 12px;
    border: 9px solid #ffffff;
    border-radius: 50%;
    margin-right: 16px;
    margin-top: -2px;
    margin-left: -1px;
    margin-bottom: 2px;
    box-shadow: 0 0 2px rgba(#cdcdcd, 1);

    @media (min-width: $tablet-width) {
      width: 21px;
      height: 21px;
      margin-right: 22px;
      margin-top: -4px;
      margin-left: 3px;
   }

   @media (min-width: $desktop-width) {
     margin-top: -3px;
   }
  }

  .form-feedback__radio:checked + &::before {
    background-color: #68b738;
  }

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 30px;
    margin: 0;
  }

  @media (min-width: $desktop-width) {
    padding: 0;
  }
}

.form-feedback__input {
  font-family: inherit;
  flex-grow: 1;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  font-weight: 400;
  color: #444444;
  border: 1px solid #e7e7e7;
  padding: 12px 15px 13px;

  &:hover {
    border: 1px solid #cdcdcd;
  }

  &:focus {
    outline: 2px solid #444444;
  }

  &:focus + .form-feedback__image {
    color: #68b738;
  }

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 30px;
    padding: 9px 18px;
    margin: 0;
  }
}

.form-feedback__image {
  position: absolute;
}

.form-feedback__image--email {
  right: 16px;
  top: 16px;
}

.form-feedback__image--phone {
  right: 15px;
  top: 13px;
}

.form-feedback__programs {
  margin: 0 0 0 -20px;
  padding: 0 0 6px 20px;

  @media (min-width: $tablet-width) {
    padding: 20px 0 9px 20px;
    width: calc(100% - 20px);
  }

  @media (min-width: $desktop-width) {
    width: 570px;
    margin: 0;
  }
}

.form-feedback__programs-item {
  @media (min-width: $tablet-width) {
    margin-bottom: 15px;
  }

  @media (min-width: $desktop-width) {
    margin-right: 20px;
  }
}

.form-feedback__legend {
  font-size: 24px;
  line-height: 26px;
  color: #000000;
  background-color: #ffffff;
  display: inline-block;
  padding-right: 22px;
  padding-left: 20px;
  padding-top: 20px;
  margin: 0 0 10px -21px;
  font-weight: 400;
  width: min-content;

  &::before {
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 3px;
    margin-top: 14px;
    left: 0;
    background-color: #68b738;
    z-index: -1;

    @media (min-width: $tablet-width) {
      margin-top: 20px;
    }
  }

  @media (min-width: $tablet-width) {
    font-size: 36px;
    line-height: 36px;
    width: auto;
    margin-bottom: 50px;
    padding-right: 40px;
    padding-left: 40px;
    padding-top: 15px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 5px;
    margin-bottom: 60px;
  }
}

.form-feedback__textarea {
  display: block;
  min-height: 150px;
  width: 100%;
  box-sizing: border-box;
  padding: 10px 10px 0 14px;
  margin-top: 28px;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  font-family: inherit;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 30px;
    height: 174px;
    margin-bottom: 48px;
    padding-left: 35px;
    padding-top: 8px;
    margin-left: 2px;
  }

  @media (min-width: $desktop-width) {
    margin-top: 15px;
    padding-top: 5px;
    padding-left: 13px;
    margin-left: 25px;
  }
}

.form-feedback__label-checkbox {
  display: block;
  margin-bottom: 8px;
  margin-top: 2px;
  padding-left: 2px;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  font-weight: 400;
  color: #000000;

  &:active {
    opacity: 0.3;
  }

  &:hover {
    &::before {
      border: 1px solid #bababa;
    }
  }

  &::before {
    content: "";
    display: inline-block;
    vertical-align: middle;
    width: 30px;
    height: 30px;
    border: 1px solid #cdcdcd;
    margin-right: 15px;
  }

  .form-feedback__checkbox:checked + &::before {
    background-image: url("../img/icon_checked.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 21px 16px;
  }

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 30px;
    margin-top: 5px;

    &::before {
      width: 40px;
      height: 40px;
      margin-right: 18px;
      margin-top: -3px;
    }
  }
}

.form-feedback__button-block {
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    display: flex;
    align-items: center;
    margin-left: 40px;
  }

  @media (min-width: $desktop-width) {
    margin-left: 0;
  }
}

.form-feedback__button {
  background-color: #68b738;
  color: #ffffff;
  padding-top: 10px;
  padding-bottom: 10px;
  margin: 0 auto 20px;
  font-size: 16px;
  line-height: 20px;

  @media (min-width: $tablet-width) {
    width: 283px;
    font-size: 20px;
    line-height: 20px;
    margin: 0 61px 0 0;
    padding-top: 15px;
    padding-bottom: 17px;
    padding-left: 20px;
  }

  @media (min-width: $desktop-width) {
    width: 568px;
    margin-right: 80px;
  }
}

.form-feedback__notification {
  display: block;
  margin: 0 0 32px;
  text-align: center;
  font-family: "Arial", sans-serif;
  font-size: 14px;
  line-height: 16px;
  color: #000000;
  font-weight: 400;

  @media (min-width: $tablet-width) {
    margin: 0 0 5px;
    font-size: 16px;
    line-height: 16px;
  }
}
