.head-block {
  margin: 0 0 22px;
  min-width: 320px;
  background-image: url("../img/index-background-mobile.jpg"), linear-gradient(to bottom, #65a93c 302px, #ffffff 302px);
  background-repeat: no-repeat;
  background-position: top center;

  @media (min-resolution: 2dppx) {
    background-image: url("../img/index-background-mobile@2x.jpg"), linear-gradient(to bottom, #65a93c 302px, #ffffff 302px);
    background-size: auto 302px;
  }

  @media (min-width: $tablet-width) {
    position: relative;
    background-image: none;
    padding: 0 30px;
  }
}

.head-block__wrapper {
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    padding-bottom: 530px;
    margin: 0 auto;
    width: 535px;
  }

  @media (min-width: $desktop-width) {
    padding-left: 120px;
    margin-left: 0;
    margin-bottom: 80px;
    width: 1300px;
    padding-bottom: 0;
  }
}

.head-block__container {
  @media (min-width: $tablet-width) {
    position: relative;
  }

  @media (min-width: $desktop-width) {
    padding-left: 120px;
    margin-left: 0;
    padding-bottom: 190px;
    width: 600px;
    position: relative;
  }
}

.head-block__inner {
  text-align: center;
  padding: 28px 20px 152px;
  // background-image: url("../img/index-background-mobile.jpg");
  // background-repeat: no-repeat;
  // background-position: center;

  @media (min-width: $tablet-width) {
    background-image: none;
    background-color: inherit;
    margin-top: 43px;
    padding: 0;
  }

  @media (min-width: $desktop-width) {
    width: 450px;
    padding-top: 100px;
  }
}

.head-block__title {
  margin: 0 0 25px;
  padding: 0;
  font-size: 36px;
  line-height: 36px;
  font-weight: 400;
  text-align: center;
  color: #ffffff;

  @media (min-width: $tablet-width) {
    font-size: 60px;
    line-height: 60px;
    text-align: left;
    color: #000000;
    margin-bottom: 41px;
  }
}

.head-block__text {
  font-size: 14px;
  line-height: 14px;
  text-transform: uppercase;
  color: #ffffff;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 20px;
    margin-bottom: 48px;
    text-align: left;
    color: #000000;
  }
}

.head-block__button {
  display: block;
  margin: 0;
  padding: 11px 40px;
  background-color: #68b738;
  width: auto;
  color: #ffffff;

  @media (min-width: $tablet-width) {
    width: 245px;
    margin: 0;
    font-size: 20px;
    padding: 17px 0;
    z-index: 10;
    position: absolute;
  }
}

.head-block__image {
  margin: -140px auto 0;
  display: block;
  width: 280px;
  height: 270px;

  @media (min-width: $tablet-width) {
    position: absolute;
    // z-index: -1;
    height: 609px;
    width: auto;
    top: 350px;
    left: -80px;
    // display: block;
  }

  @media (min-width: $desktop-width) {
    position: absolute;
    // z-index: -1;
    height: 499px;
    width: auto;
    top: 200px;
    left: 450px;
    display: block;
  }
}
