.instruction {
  margin-bottom: 49px;
}

.instruction__wrapper {
  min-width: 320px;
  padding: 0 20px;
  margin: 0 auto;
}

.instruction__title {
  margin: 0 0 27px;
  font-size: 36px;
  line-height: 40px;
  font-weight: 400;
  color: #000000;
}

.instruction__list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.instruction__list-item {
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  font-family: "Arial", sans-serif;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  color: #444444;
}
