.instruction {
  margin-bottom: 49px;

  @media (min-width: $tablet-width) {
    margin-bottom: 52px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 0;
  }
}

.instruction__wrapper {
  padding: 0 20px;
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    padding: 0 30px;
  }
}

.instruction__title {
  margin: 0 0 38px;
  font-size: 36px;
  line-height: 40px;
  font-weight: 400;
  color: #000000;

  @media (min-width: $tablet-width) {
    font-size: 60px;
    line-height: 60px;
    margin-bottom: 72px;
    padding-top: 15px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 70px;
  }
}

.instruction__list {
  list-style: none;
  margin: 0;
  padding: 0;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-wrap: wrap;
    counter-reset: li;
  }
}

.instruction__list-item {
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  font-family: "Arial", sans-serif;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  color: #444444;

  &::before {
    content: "";
    width: 60px;
    height: 60px;
    background-color: #68b738;
    background-repeat: no-repeat;
    background-position: center;
    margin-right: 20px;
    vertical-align: middle;
    flex-shrink: 0;

    @media (min-width: $tablet-width) {
      width: 80px;
      height: 80px;
      margin-bottom: 32px;
      display: block;
    }
  }

  &::after {
    position: absolute;
    z-index: -1;
    font-family: "Oswald", "Arial", sans-serif;
    color: #f2f2f2;
    text-align: center;

    @media (min-width: $tablet-width) {
      content: counter(li, decimal);
      counter-increment: li;
      top: -38px;
      right: 70px;
      width: 136px;
      height: 280px;
      font-size: 280px;
      line-height: 280px;
    }

    @media (min-width: $desktop-width) {
      right: 5px;
    }
  }

  &--leaf::before {
    background-image: url("../img/icon_leaf.svg");
  }

  &--tub::before {
    background-image: url("../img/icon_tub.svg");
  }

  &--eat::before {
    background-image: url("../img/icon_eat.svg");
  }

  &--alarm::before {
    background-image: url("../img/icon_alarm.svg");
  }

  @media (min-width: $tablet-width) {
    padding-bottom: 50px;
    padding-right: 75px;
    margin-bottom: 83px;
    position: relative;
    display: block;
    width: 35%;
    font-size: 16px;
    line-height: 24px;

    &:last-child {
      margin-bottom: 0;
    }

    &:nth-last-child(2) {
      margin-bottom: 0;
    }
  }

  @media (min-width: $desktop-width) {
    padding-bottom: 20px;
    padding-right: 0;
    margin-right: auto;
    margin-bottom: 30px;
    min-width: inherit;
    width: 245px;

    &:last-child {
      margin-right: 0;
    }
  }
}

@media (min-width: $tablet-width) {
  .instruction__list-item:nth-child(2n-1) {
    margin-right: auto;
  }
}
