.main-nav__menu {
  position: relative;
  margin: 14px 0 0;
}

@media (min-width: $tablet-width) {
  .main-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
  }
}

.main-nav__toggle {
  position: absolute;
  top: -55px;
  right: 0;
  cursor: pointer;
  border: 0;
  width: 24px;
  height: 24px;
  z-index: 2;
  background-color: #ffffff;
}

.main-nav__closed .main-nav__toggle {
  &::before {
    content: "";
    position: absolute;
    right: 0;
    width: 24px;
    height: 2px;
    background-color: #000000;
    box-shadow: 0 8px 0 0 #000000, 0 16px 0 0 #000000;
  }
}

@media (max-width: 767px) {
  .main-nav__closed .main-nav__list {
    display: none;
  }

  .main-nav__opened .main-nav__list {
    position: absolute;
    top: 0;
    left: -20px;
    width: calc(100% + 40px);
    background-color: #ffffff;
  }

  .main-nav__opened .main-nav__toggle {
    &::before,
    &::after {
      content: "";
      position: absolute;
      top: 20px;
      right: 0;
      width: 24px;
      height: 2px;
      background-color: #000000;
      box-shadow: none;
    }

    &::before {
      transform: rotate(45deg);
      box-shadow: none;
    }

    &::after {
      transform: rotate(-45deg);
    }
  }

  .main-nav__nojs .main-nav__list {
    display: block;
  }

  .main-nav__nojs .main-nav__toggle {
    display: none;
  }
}

.main-nav__list {
  list-style: none;
  margin: 0;
  padding: 0;
  z-index: 10;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
  }
}

.main-nav__item {
  text-align: center;
  border-top: 1px solid #e6e6e6;
  width: calc(100% + 40px);
  margin: 0 0 0 -20px;
}

@media (min-width: $tablet-width) {
  .main-nav__item {
    border: 0;
    width: auto;
    margin-left: 35px;

    &:first-child {
      margin-left: 0;
    }
  }
}

.main-nav__link {
  display: inline-block;
  position: relative;
  margin: 0;
  padding: 22px 22px 24px 22px;
  font-weight: 500;
  font-size: 20px;
  line-height: 20px;
  text-transform: uppercase;
  text-decoration: none;
  color: #000000;

  &[href]:hover {
    opacity: 0.6;
  }

  &[href]:active {
    opacity: 0.3;
  }

  @media (min-width: $tablet-width) {
    padding: 0;
    width: auto;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;

    &--active::after {
      content: "";
      position: absolute;
      left: 0;
      right: 0;
      bottom: -10px;
      height: 2px;
      background-color: #68b738;
    }
  }

  @media (min-width: $desktop-width) {
    font-size: 20px;
    line-height: 30px;
  }
}

.main-nav__link--index {
  @media (min-width: $desktop-width) {
    color: #ffffff;
    font-size: 20px;
    line-height: 30px;
  }
}

@media (min-width: $tablet-width) {
  .main-nav__menu {
    margin-top: 5px;
    width: 500px;
  }
}

@media (min-width: $tablet-width) {
  .main-nav__toggle {
    display: none;
  }
}

@media (min-width: $desktop-width) {
  .main-nav__link--index.main-nav__link--active::after {
    background-color: #ffffff;
  }
}
