.page-main__header {
  padding: 0 20px;
  margin: 0 auto;
  max-width: 1300px;

  @media (min-width: $tablet-width) {
    padding: 0 67px 0 71px;
  }
}

.page-main__title {
  margin: 0 0 40px;
  padding-top: 28px;
  font-weight: normal;
  font-size: 36px;
  line-height: 36px;
  color: #000000;

  @media (min-width: $tablet-width) {
    font-size: 60px;
    line-height: 60px;
    padding-top: 53px;
    margin-bottom: 98px;
    padding-right: 37px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 65px;
    margin-bottom: 90px;
  }
}

.page-main__title-form {
  @media (min-width: $tablet-width) {
    padding-left: 40px;
  }

  @media (min-width: $desktop-width) {
    padding-left: 0;
  }
}

.page-main__text {
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  font-weight: 400;
  color: #000000;
  margin: -45px 0 19px;
  padding-right: 20px;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 30px;
    width: 350px;
  }
}

.page-main__form {
  margin-top: 0;

  @media (min-width: $tablet-width) {
    margin-top: -45px;
    margin-left: 40px;
  }

  @media (min-width: $desktop-width) {
    margin-top: -35px;
    margin-left: 0;
  }
}
