// .page-footer {
//   background-color: #f2f2f2;

//   @media (min-width: $tablet-width) {
//     background-color: #f2f2f2;
//   }
// }

.page-footer__bottom {
  // min-width: 320px;

  padding-top: 43px;
  padding-bottom: 30px;
  margin: 0 auto;
  background-color: #f2f2f2;

  @media (min-width: $tablet-width) {
    padding-top: 55px;
    padding-bottom: 50px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 60px;
  }
}

.page-footer__bottom-wrapper {
  @media (min-width: $tablet-width) {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 30px;
  }
}

.page-footer__logo {
  margin-bottom: 30px;
  display: flex;
  justify-content: center;

  &:hover {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.4;
  }

  @media (min-width: $tablet-width) {
    margin-bottom: 0;
  }
}

.page-footer__social {
  margin-bottom: 20px;

  @media (min-width: $tablet-width) {
    margin-bottom: 2px;
    padding: 0 0 0 25px;
    border: 0;
    margin-top: 3px;
  }
}
