.page-header {
  padding-top: 10px;
  background-color: #ffffff;
  border-bottom: 1px solid #d9d9d9;

  @media (min-width: $tablet-width) {
    border: 0;
  }
}

.page-header--index {

  border: none;

  @media (min-width: $desktop-width) {
    background: linear-gradient(to right, #ffffff 50%, #64a83c 50%);
    height: 694px;
    margin-bottom: 80px;
  }
}

.page-header__wrapper {
  padding: 0 20px;
}
