.program-list {
  @media (min-width: $tablet-width) {
    margin-bottom: 45px;
  }
}

.program-list__type {
  margin: 0 auto;
  padding: 0;


  @media (min-width: $desktop-width) {
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    margin: 0;
  }
}

.program-list__content {
  margin: 0 0 20px;
  padding: 30px 20px 22px;
  background-color: #f2f2f2;
  color: #000000;

  @media (min-width: $tablet-width) {
    position: relative;
    padding: 75px 300px 62px 53px;
    margin-bottom: 31px;
  }

  @media (min-width: $desktop-width) {
    display: block;
    width: 470px;
    margin-bottom: 0;
    margin-right: 80px;
    padding: 75px 50px 50px 50px;

    &:nth-child(2n) {
      margin-right: 0;
    }
  }
}

.program-list__title {
  margin: 0 0 29px 71px;
  font-size: 24px;
  line-height: 37px;
  font-weight: 400;
  text-transform: uppercase;
  position: relative;

  &::before {
    content: "";
    display: block;
    position: absolute;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #68b738;
    top: -6px;
    left: -69px;

    @media (min-width: $tablet-width) {
      width: 200px;
      height: 200px;
      top: 15px;
      left: auto;
      right: -240px;
    }

    @media (min-width: $desktop-width) {
      width: 100px;
      height: 100px;
      top: -30px;
      left: -160px;
    }
  }

  &::after {
    content: "";
    display: block;
    position: absolute;
    width: 50px;
    height: 50px;
    top: 0;
    left: -69px;
    background-repeat: no-repeat;
    background-size: contain;
  }

  &--slim::after {
    background-image: url("../img/cat-slim.svg");
    background-position: center;
    top: -8px;
    left: -68px;

    @media (min-width: $tablet-width) {
      top: 5px;
      height: 196px;
      width: 140px;
      right: -210px;
      left: auto;
    }

    @media (min-width: $desktop-width) {
      top: -30px;
      height: 97px;
      width: 70px;
      left: -140px;
    }
  }

  &--pro::after {
    background-image: url("../img/cat-pro.svg");
    background-position: center;
    width: 67px;
    left: -78px;
    top: -8px;

    @media (min-width: $tablet-width) {
      top: 55px;
      height: 112px;
      width: 268px;
      right: -270px;
      left: auto;
    }

    @media (min-width: $desktop-width) {
      top: -10px;
      height: 56px;
      width: 134px;
      left: -180px;
    }
  }

  @media (min-width: $tablet-width) {
    font-size: 36px;
    line-height: 36px;
    margin-bottom: 25px;
    margin-left: 0;
  }


  @media (min-width: $desktop-width) {
    margin-left: 162px;
    margin-bottom: 74px;
  }
}

@media (min-width: $tablet-width) {
  .program-list__title {
    margin-left: 0;
  }
}

@media (min-width: $desktop-width) {
  .program-list__title {
    margin-left: 160px;
  }
}

.program-list__text {
  margin: 0 0 22px;
  font-family: "Arial", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: #444444;

  @media (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 24px;
    padding-right: 15px;
    margin-bottom: 37px;
  }

  @media (min-width: $desktop-width) {
    padding-right: 0;
    margin-bottom: 15px;
  }
}

.program-list__title--pro {
  @media (min-width: $tablet-width) {
    margin-top: 5px;
  }
}

.program-list__link {
  text-decoration: none;
  color: #000000;
  text-transform: uppercase;
  font-size: 16px;
  line-height: 16px;
  font-family: inherit;
  width: 100%;
  padding-top: 18px;
  border-top: 1px solid #d9d9d9;
  display: block;


  &::after {
    content: "";
    display: inline-block;
    transform: translateY(-50%) translateY(5px);
    width: 24px;
    height: 11px;
    margin-left: 15px;
    background-image: url("../img/icon-right-arrow.svg");
    background-repeat: no-repeat;

    @media (min-width: $tablet-width) {
      margin-left: 25px;
    }

    @media (min-width: $desktop-width) {
      margin-bottom: 5px;
    }
  }

  &:active {
    opacity: 0.3;
  }

  &:hover::after,
  &:focus::after {
    background-image: url("../img/icon-right-arrowlong.svg");
    width: 33px;
    transition: 0.15s ease;
  }

  @media (min-width: $tablet-width) {
    border-top: none;
    font-size: 20px;
    line-height: 20px;
  }

  @media (min-width: $desktop-width) {
    line-height: 30px;
  }
}
